<!DOCTYPE html>
<html>
<head>
  <title>
    {% block title %}{% endblock %}
  </title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <p>
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout_user' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login_user' %}">Sign In</a></li>
      <li><a href="{% url 'register' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
  {% block body %}{% endblock %}
</body>
</html>

